@using Epam.Blog.Entities;
@using Epam.Blog.Dependencies;

@{ Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var bllArticle = DependencyResolver.GetInstance().ArticleLogic;
    var bllUser = DependencyResolver.GetInstance().UserLogic;

    string title = null;
    string text = null;

    DateTime dateTime = DateTime.Now;

    if (IsPost)
    {
        title = Request["title"];
        text = Request["text"];

        if (title.Length < 1 || text.Length < 1)
        {
            <div class="alert alert-warning" role="alert">
                Title or text must contain at least 1 character!
            </div>
        }
        else
        {
            dateTime = DateTime.Now;
            BlogPage page = bllUser.GetUserByName(HttpContext.Current.User.Identity.Name).Page;

            bllArticle.AddArticle(new Article(title, text, dateTime, page));

            Response.Redirect("~/index.cshtml");
        }
    } }

<h3>Let's make a post for your blog</h3>

<form method="post">
    <div class="form-group" align="center">
        <label>Title</label>
        <input type="text" name="title" class="form-control" placeholder="This is your super special title" value="@title" /><br />
        <label>Text</label>
        <textarea name="text" class="form-control big" placeholder="Write something cool or stupid — just be free!" value="@text"></textarea><br />
        <button type="submit" class="btn btn-warning">Post</button>
    </div>
</form>

<style>
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-control {
        width: 500px;
    }

    .big {
        height: 300px;
    }

    .alert-warning {
        text-align: center;
    }
</style>