@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    {
        <div class="alert alert-warning" role="alert">
            Some features isn't available for users (only for admins, sorry)!
        </div>
    }
}
