@using Epam.Blog.BLL.Interfaces;
@using Epam.Blog.Dependencies;
@using Epam.Blog.Entities;

@{ Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var bll = DependencyResolver.GetInstance().UserLogic;

    if (IsPost)
    {
        bool check = bll.SignIn(Request["login"], Request["pass"]);

        if (check)
        {
            FormsAuthentication.SetAuthCookie(Request["login"], createPersistentCookie: true);
            Response.Redirect("~/index.cshtml");
        }
        else
        {
<div class="alert alert-warning" role="alert" align="center">
    There is no user with this login and password.
</div> }
}
else
{
FormsAuthentication.SignOut();
} }

<br />
<style>
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-control {
        width: 300px;
        text-align: center;
    }

    label {
        margin: 5px 0 5px 0;
    }

    p {
        margin: 10px 0 10px 0;
    }
</style>

<h3>Sign in to Personal Blog</h3>
<form method="post">
    <div class="form-group" align="center">
        <asp:Panel ID="MainPanel" runat="server">
            <label for="exampleInputEmail1">Login</label>
            <input name="login" type="text" class="form-control" id="login" placeholder="Enter login">

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="pass" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <br />
            <button type="submit" class="btn btn-warning">Sign In</button>
            <p>New here?</p>
            <a href="~/Pages/Registration.cshtml" class="btn btn-warning">Create blog</a>
        </asp:Panel>
    </div>
</form>

<script src="js/scripts.js"></script>
